.screen-wrapper {
  /* 填充整个屏幕 */
  position: relative; // 不需要 absolute + transform
  width: 100vw;
  height: 100vh;
  background: url('../pageBg.png') center/cover no-repeat;
  // border: 1px solid yellow; // 调试边框

  #index {
    position: relative;
    width: 100%;
    height: 100%;
    // border: 2px solid red;

    .bg {
      position: absolute;
      inset: 0;
      background-size: cover;
      background-position: center center;
    }

    .host-body {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 1rem; // 内边距用 rem
      display: flex;
      flex-direction: column;

      .decoration {

        .dv-dec-10,
        .dv-dec-10-s {
          width: 32%;
          height: 0.46vh;
        }

        .dv-dec-10-s {
          transform: rotateY(180deg);
        }

        .dv-dec-8 {
          width: 10.4vw;
          height: 4.63vh;
        }

        .title {
          width: 26vw;
          height: 4.63vh;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          .title-text {
            font-size: 1.5rem;
            color: #fff;
          }

          .dv-dec-6 {
            position: absolute;
            width: 13vw;
            height: 0.74vh;
            bottom: -2.78vh;
          }
        }

        // 第二行
        .aside-width {
          width: 40%;
          color: white;

          /* 左-平行四边形 */
          .react-left {
            margin-left: 1.4vh;
            font-size: 1rem; // 配合 setRem 自适应
            width: 9.4vw;
            height: 4.63vh;
            line-height: 4.63vh;
            text-align: center;
            transform: skewX(45deg);
            background-color: #0f1325;
            position: relative;

            &.react-l-l {
              margin-left: 2.5vw;
              width: 26vw;
              text-align: left;
            }

            .react-before {
              position: absolute;
              left: -2.5vw;
              top: 0;
              width: 5vw;
              height: 4.63vh;
              background-color: #0f1325;
              transform: skewX(-45deg);
            }

            .text {
              display: inline-block;
              transform: skewX(-45deg);
            }

          }

          /* 右-平行四边形 */
          .react-right {
            margin-left: 1.4vh;
            font-size: 1rem; // 配合 setRem 自适应
            width: 9.4vw;
            height: 4.63vh;
            line-height: 4.63vh;
            text-align: center;
            transform: skewX(-45deg);
            background-color: #0f1325;
            position: relative;

            &.react-r-l {
              width: 25.8vw;
              text-align: right;
            }

            .react-after {
              position: absolute;
              top: 0;
              right: -2.6vw;
              width: 5vw;
              height: 4.63vh;
              background-color: #0f1325;
              transform: skewX(45deg);
            }

            .text {
              display: inline-block;
              transform: skewX(45deg);
            }
          }

        }
      }

      .body-box {
        margin-top: 0.8vh;
        display: grid;
        grid-template-columns: 19.3% 61.4% 19.3%; // 百分比自适应
        grid-auto-rows: 84.3%; // 百分比自适应
        width: 100%;

        .left-box,
        .map-box,
        .right-box {
          width: 100%;
          height: 87vh;

          // background-color: green;
        }

        .map-box {
          border: 0.1vw solid #2e6099;
          margin-top: 0.3rem;
          height: 86vh;
        }
      }
    }
  }
}